/* 
	CSS RESET
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	background-color:transparent;
	font-size: 100%;
	font: inherit;
	font-family: Roboto;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2 {
	font-weight:700;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:36px;
	text-align:center;
}
/* The sidebar menu */
.sidenav {
	height: 100%;
	color:#FFF;
	text-align:center;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	width:320px;
	background-color: #02565B;
	overflow-x: hidden;
}

.sidenav button {
	text-align:center;
	color:#FFF;
}
.main {
  margin-left: 320px; /* Same as the width of the sidebar */
  padding: 20px;
}
.section {
	display:none;
}
#navigation {
	
}
.rectangle {
	background-color:#04464A;
	padding:40px 0;
}
.table {
	display:table;
	text-align:left;
	margin:0 auto;
}
.sidenav .row {
	display:table-row;
}
.cell {
	display:table-cell;
	padding:0 0;
}
.cell-divider {
	background:#FFF; 
	width:3px; 
	height:30px; 
	margin-left:8px
}
.buttonWithUnderline {
	border-bottom:solid 1px #FFF;
	padding-bottom:30px;
}

#navigation .cell:first-of-type {
    padding-left:20px;
	padding-right:10px;
}

/* ICONS */
.openCircle {
  display: inline-block;
  height:20px;
  width:20px;
  content: "";
  vertical-align: middle;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
}
