/* 
	CSS RESET
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	background-color:transparent;
	font-size: 100%;
	font: inherit;
	font-family: Poppins, Arial;
	vertical-align: baseline;
}
body {
	background-color:#F7F7F7;
}

label input[type="checkbox"] {
  position: fixed;
  z-index: -10;
  opacity: 0;
  left: 0;
  top: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2 {
	font-weight:700;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:36px;
	text-align:center;
	margin:30px 0;
}
h3 {
	border-bottom:solid 2px #CCC;
	padding-bottom:10px;
	margin-bottom:20px;
	font-weight:700;
}
/*BOOTSTRAP OVERRIDE */
.table .bmd-form-group {
	padding-top:0;
}
.table .table {
	background:transparent
}

/* The sidebar menu */
.sidenav {
	display: none;
	height: 100%;
	color:#FFF;
	text-align:center;
	position: fixed; 
	z-index: 1;
	top: 0;
	left: 0;
	width:320px;
	background-color: #02565B;
	overflow-x: hidden;
}

.sidenav button {
	text-align:center;
	color:#FFF;
	cursor:pointer;
}
.sidenav button:hover {
	text-decoration:underline;
}
.main {
  margin-left: 320px; /* Same as the width of the sidebar */
  padding: 20px;
  display: none;
}
.section {
	display:none;
}
.rectangle {
	background-color:#04464A;
	padding:40px 0;
}
.table {
	display:table;
	text-align:left;
	margin:0 auto;
}
.sidenav .row {
	display:table-row;
}
.cell {
	display:table-cell;
	padding:0 0;
}
.cell-divider {
	background:#FFF; 
	width:3px; 
	height:30px; 
	margin-left:8px
}
.buttonWithUnderline {
	border-bottom:solid 1px #FFF;
	padding-bottom:30px;
}

#navigation .cell:first-of-type {
    padding-left:20px;
	padding-right:10px;
}
.footer {
	margin-top:100px;
	margin-left:100px;
	margin-right:100px;
	padding-bottom:40px;
}
.footer button:first-of-type {
	float:left;
}

.footer button {
	float:right;
}

/* ICONS */
.openCircle {
  display: inline-block;
  height:20px;
  width:20px;
  content: "";
  vertical-align: middle;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
}
.selectedCircle {
  display: inline-block;
  height:20px;
  width:20px;
  content: "";
  vertical-align: middle;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
}

.centerSection {
	max-width:860px;
	background:#FFF;
	margin:0 auto;
	padding:32px;
	margin-top:40px;
}

.button {
	box-shadow:0px 0px 1px 1px rgba(3,45,47,0.16);
	color:#025257;
	font-weight:700;
	font-size:14px;
	padding:15px;
	background:#EAF1F0;
	cursor:pointer;
	border-radius:24px;
	border:solid 1px #025257;
}

.primary {
	background:#025257;
	color:#FFF;
}

input.chk-btn {
  display: none;
}
input.chk-btn + label {
     font-size: 14px;
    border: 1px solid #145256;
    color: #145256;
    background: transparent;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 20px;
}
input.chk-btn:not(:checked) + label:hover {
	background: #145256;
	color:#FFF;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  background: #145256 !IMPORTANT;
  color:#FFF !IMPORTANT;
}
input.size1 {
	width: 30px !important;
}
input.size2 {
	width: 60px !important;
}
.align-left {
	text-align:left;
	padding:10px;
}

.cell input[type="checkbox"] {
	margin-top:10px;
}

.max-width {
	width: 100%;
}

.loginPage img {
	max-height: 100vh;
}

.loginPage input {
	width: 2em;
	margin: 10px;
	text-align: center;
}

.loginPage button {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

#upcommingAppointments {
	line-height: 1.5em;
}

#upcommingAppointments label {
	margin: 4px;
}

#upcommingAppointments textarea {
	height: fill-available;
	margin-top: 3em;
}

/**
 * Hide both contents of the upcoming appointments so we can
 * unhide them with jquery based on the code the user put in
 */
#upcommingAppointments div.centerSection.firstSignIn,
#upcommingAppointments div.centerSection.secondSignIn {
	display: none;
}
